<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peerless2012.multithreadinandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Loader -->
        <activity
            android:name=".LoaderActivity"
            android:label="@string/title_activity_loader" >
        </activity>

        <!-- CursorLoader -->
        <activity
            android:name="com.peerless2012.multithreadinandroid.loader.cursor.CursorLoaderActivity"
            android:label="@string/title_activity_cursor_loader" >
        </activity>

        <!-- IntentService -->
        <activity android:name=".intentservice.DataUploadActivity" 
            android:label="@string/title_intent_service"/>

        <service android:name=".intentservice.DataUploadService" />

        <!-- HandleThread -->
        <activity
            android:name="com.peerless2012.multithreadinandroid.handlethread.HandleThreadActivity"
            android:label="@string/title_activity_handle_thread" >
        </activity>


        <!-- AsyncTask -->
        <activity
            android:name="com.peerless2012.multithreadinandroid.asynctask.AsyncTaskActivity"
            android:label="@string/title_activity_async_task" >
        </activity>

        <!-- ThreadPool -->
        <activity
            android:name="com.peerless2012.multithreadinandroid.threadpool.ThreadPoolActivity"
            android:label="@string/title_activity_thread_pool" >
        </activity>
    </application>

</manifest>
